<section>

  <div class="container">

    <aside>
      <h2 id="editTitle" contentEditable="true">{{post.title}}</h2>
    </aside>
    <div class="card">
      <p id="editContent" contentEditable="true"> {{post.content}}</p>
      <br />
      <button class="delete">Delete Post</button>
      <button class="submitEdit" id="is-hidden">Update Changes</button>
    </div>

  </div>

</section>

<script src="/js/editOrDelete.js"></script>