<section>
  <div class="container">
    <aside>
      <h2>Posts</h2>
      <p>
        <i><b>Posted on: 28/09/21</b></i>
      </p>
    </aside>
    <div class="card">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit velit,
        repudiandae excepturi maiores tempore non illum! Delectus nulla, sint
        adipisci deserunt sed voluptatum ab quo aspernatur esse quisquam odit
        suscipit. Lorem, ipsum. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Itaque voluptatem et similique nobis quo quam
        molestiae quos laboriosam fuga architecto officia mollitia maxime
        explicabo, facere ut alias commodi inventore impedit nisi quibusdam aut
        deleniti ipsa laborum error? Qui, commodi. Totam, nemo excepturi eaque
        voluptatem enim assumenda sit fuga ad, vitae nobis incidunt iure
        doloremque quam corrupti architecto quo officia, non a ratione
        reprehenderit? Vitae animi enim similique doloribus vero, voluptas
        laborum quas. Voluptates deserunt recusandae quibusdam perferendis
        consectetur odit aliquid.
      </p>
    </div>
  </div>
  <div class="comment">
    <h4>Comments</h4>
    <h5>Robert Rousset</h5>
    <p>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Excepturi quisquam placeat expedita, a, earum sint
      aliquam deleniti aspernatur explicabo voluptates commodi corrupti unde
      consequuntur! Temporibus quasi ex, aut veritatis consectetur itaque? Eos
      laudantium aspernatur ipsa error dolorem assumenda eum! A inventore iste
      harum aut! Provident necessitatibus nemo repellendus repudiandae corporis
      maiores est hic nulla, et quam facere fugit recusandae, sint quibusdam vel
      natus! Vitae facilis rem fuga fugit non similique eligendi iste
      distinctio, dolorum, blanditiis voluptatibus accusantium quasi cupiditate
      error possimus voluptatum magnam aliquid deleniti odio repudiandae
      delectus temporibus. Dicta quasi debitis dolore? Repudiandae suscipit in
      soluta dicta minus praesentium.
    </p>
  </div>
</section>