<section>
  {{#each blogs as |blog|}}
    <div class="container">

      <aside id="blog">

        <h2>{{blog.title}}</h2>
        <p>
          <i><b>Posted on: {{blog.createdAt}}</b></i>
        </p>
      </aside>

      <div class="card">
        <p>
          {{blog.content}}
        </p>

      </div>
    </div>
  {{/each}}
</section>