<section>
  <form class="login-form">
    <div class="login">
      <h2>Login:</h2>
      <input placeholder="Username" class="usernameLogin" />
      <input placeholder="Password" class="passwordLogin" />
      <button class="loginButton" type="submit">Login</button>
    </div>
  </form>

  <form class="signup-form">
    <div class="login">
      <h2>Sign Up:</h2>
      <input placeholder="Username" class="usernameSignup" />
      <input placeholder="Password" class="passwordSignup" />
      <button class="loginButton" type="submit">Sign Up</button>
    </div>
  </form>
</section>

