<section >

  <div class="login">
    
    <h2>Login:</h2>
    <div class="incorrectLogin" id="is-white">
      <p>Incorrect Username or Password.</p>

    </div>
    <input placeholder="Username" class="usernameLogin" />
    <input placeholder="Password" type="password" class="passwordLogin" />
    <button id="loginButton">Login</button>
  </div>

  <div class="login">
    <h2>Sign Up:</h2>

     <div class="incorrectSignup" id="is-white">
       <p>Unable to sign up at this moment</p>
    </div>
    <input placeholder="Username" class="usernameSignup" />
    <input placeholder="Password" type="password" class="passwordSignup" />
    <button id="signupButton">Sign Up</button>

  </div>
  <script src="/js/login.js"></script>
</section>