        <section>
            <div class="login">
                <h2>Login:</h2>
                <input placeholder="Username" class="username">
                <input placeholder="Password" class="password">
                <button class="loginButton">Login</button>
            </div>

            <div class="login">
                <h2>Sign Up:</h2>
                <input placeholder="Username" class="username">
                <input placeholder="Password" class="password">
                <button class="loginButton">Sign Up</button>
            </div>
        </section>