<section>
  <div class="container">

    <aside>

      <h2>{{post.title}}</h2>
      <p>
        <i><b>Posted on: {{post.createdAt}}</b></i>
      </p>

    </aside>

    <div class="card">
      <p>
        {{post.content}}
      </p>
      <br />
      <p>
        -{{user.username}}
      </p>
    </div>
  </div>

</section>